/* About.css */
.ab{
  background-color: aqua;
  background-image: url(https://i.pinimg.com/originals/73/5f/71/735f71a9eeae396cab5b58a8c8944a88.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about {
    text-align: center;
    padding: 20px;
    
  }
  
  .about h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .about p {
    font-size: 18px;
  }
  