

body{
  /* background-image: url(https://i.pinimg.com/originals/73/5f/71/735f71a9eeae396cab5b58a8c8944a88.jpg); */
  background-color: #8d2d76;
}
.loginpage{
  background-image: url(https://img.freepik.com/free-photo/decorated-wedding-hall-with-candles-round-tables-centerpieces_8353-10057.jpg?w=1060&t=st=1698206064~exp=1698206664~hmac=ad23c1ee90524321fc8506df2c3a01d9e4823e45df65bc387de71efe5e68b061);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


}

.login-form {
  background-color: #f1f5f8;
  border-radius: 10px;
  padding: 50px;
  width: 400px; /* Adjust the width as needed */
  margin: auto; /* Center the form horizontally */
  margin-top: 0px; /* Adjust the top margin as needed */
  background-color: #8d2d76;
  background-position:left;
  margin-bottom: 0%;  
}





.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  /* Add your styling for the input fields */
}

.login-button {
  width: 100px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #2196f3;
  
  color: #fff;
  border: none;
  /* Add your styling for the login button */
}

.forgot-password {
  margin-bottom: 10px;
  /* Add your styling for the forgot password text */
}

.create-account-button {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  
  border: none;
  margin-bottom: 25px;
  text-decoration: none;
  /* Add your styling for the create account button */
}
